body {
    background-image: url(../images/analise-matrix-swot.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}