#home-background {
    background-image: url(../images/istockphoto-1332829108-612x612\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    background-image: url(../images/analise-matrix-swot.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

