#home-background {
    background-image: url(../images/istockphoto-1332829108-612x612\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
}

body {
    background-image: url(../images/analise-matrix-swot.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.cont-signup {
    display: flex;
    justify-content: flex-start;
    margin-left: 200px;
    
    
}

.cont-info {
    display: flex;
    justify-content: center;
    margin-left: 80px;
    color: #2d2d2d;
}

.account-text{
    margin-left: 70px;
    color:aliceblue;
}

.align-infos{
    display: flex;
    justify-content: row;
}

.margin-left {
    margin-left: 50px;
}