.profile-container{
    background-color: aliceblue;
    display: flex;
    width: 70%;
    height: 500px;
    border-radius: 5%;
    border-style: ridge;
    justify-content: space-evenly;
}

.page-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

.profile-img {
    height: 240px;
    width: 250px;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 20px;
    
}

.analysis-list {
    display: flex;
    flex-direction: column;
}

.sec-1 {
    margin-left: 40px;
}

.sec-2 {
    display: flex;
    justify-content: flex-end;
}

.profile-container {
    margin-top: 30px;
}

.profile-title {
    padding: 25px;
    width: 250px;
    font-size: 18px;
    border-style: ridge;
    background-color: aliceblue;
    font-size: 28px;
    margin-left: 560px;
    display: flex;
    justify-content: center;
    }