.profile-container{
    background-color: aliceblue;
    display: flex;
    width: 80%;
    height: 600px;
    border-radius: 5%;
    border-style: ridge;
    justify-content: space-evenly;
}

.page-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    
}

.profile-img {
    height: 240px;
    width: 250px;
    border-radius: 50%;
    margin-top: 30px;
}

.analysis-list {
    display: flex;
    flex-direction: column;
}

.sec-1 {
    margin-left: 40px;
}

.sec-2 {
    display: flex;
    justify-content: flex-end;
}